@font-face {
  font-family: 'playfair_display';
  src: url('../fonts/playfairdisplay-regular-webfont.eot');
  src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
       url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
       url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
       url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'playfair_display';
  src: url('../fonts/playfairdisplay-bold-webfont.eot');
  src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
       url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
       url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
       url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'suisse_intl';
  src: url('../fonts/suisseintl-book-webfont.eot');
  src: url('../fonts/suisseintl-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/suisseintl-book-webfont.woff2') format('woff2'),
       url('../fonts/suisseintl-book-webfont.woff') format('woff'),
       url('../fonts/suisseintl-book-webfont.ttf') format('truetype'),
       url('../fonts/suisseintl-book-webfont.svg#suisse_intlbook') format('svg');
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: 'suisse_intl';
  src: url('../fonts/suisseintl-regular-webfont.eot');
  src: url('../fonts/suisseintl-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/suisseintl-regular-webfont.woff2') format('woff2'),
       url('../fonts/suisseintl-regular-webfont.woff') format('woff'),
       url('../fonts/suisseintl-regular-webfont.ttf') format('truetype'),
       url('../fonts/suisseintl-regular-webfont.svg#suisse_intlregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'suisse_intl';
  src: url('../fonts/suisseintl-medium-webfont.eot');
  src: url('../fonts/suisseintl-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/suisseintl-medium-webfont.woff2') format('woff2'),
       url('../fonts/suisseintl-medium-webfont.woff') format('woff'),
       url('../fonts/suisseintl-medium-webfont.ttf') format('truetype'),
       url('../fonts/suisseintl-medium-webfont.svg#suisse_intlmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'suisse_intl';
  src: url('../fonts/suisseintl-semibold-webfont.eot');
  src: url('../fonts/suisseintl-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/suisseintl-semibold-webfont.woff2') format('woff2'),
       url('../fonts/suisseintl-semibold-webfont.woff') format('woff'),
       url('../fonts/suisseintl-semibold-webfont.ttf') format('truetype'),
       url('../fonts/suisseintl-semibold-webfont.svg#suisse_intlsemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'suisse_intl';
  src: url('../fonts/suisseintl-bold-webfont.eot');
  src: url('../fonts/suisseintl-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/suisseintl-bold-webfont.woff2') format('woff2'),
       url('../fonts/suisseintl-bold-webfont.woff') format('woff'),
       url('../fonts/suisseintl-bold-webfont.ttf') format('truetype'),
       url('../fonts/suisseintl-bold-webfont.svg#suisse_intlbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

/* Global */
body{font-family: 'suisse_intl', sans-serif;font-size: 14px;color:#363636;overflow-x:hidden;position: relative;}
h1, h2, h3, h4, h5 {font-family: 'playfair_display';}
body, p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
.search-container input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #faf7fb;
}
.search-container input::-moz-placeholder { /* Firefox 19+ */
  color: #faf7fb;
}
.search-container input:-ms-input-placeholder { /* IE 10+ */
  color: #faf7fb;
}
.search-container input:-moz-placeholder { /* Firefox 18- */
  color: #faf7fb;
}
.send-input-container input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #140c53;
}
.send-input-container input::-moz-placeholder { /* Firefox 19+ */
  color: #140c53;
}
.send-input-container input:-ms-input-placeholder { /* IE 10+ */
  color: #140c53;
}
.send-input-container input:-moz-placeholder { /* Firefox 18- */
  color: #140c53;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?bghq5v');
    src:  url('../fonts/icomoon.eot?bghq5v#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?bghq5v') format('truetype'),
      url('../fonts/icomoon.woff?bghq5v') format('woff'),
      url('../fonts/icomoon.svg?bghq5v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;}
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
  .icon-instagram:before {content: "\e903";}
  .icon-linkedin:before {content: "\e900";}
  .icon-facebook:before {content: "\e901";}
  .icon-twitter:before {content: "\e902";}
  .icon-chevron-down:before {content: "\e905";}
  .icon-chevron-up:before {content: "\e904";}

.blog-landing .background {
  background: url('../img/bg-blog-landing.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
}
.blog-post .blog-background {
  background: url('../img/bg-blog-post.jpg') no-repeat;
  background-size: 100%;
}
.container {
  padding: 28px 30px;
  height: 1500px;
}
.blog-container {
  padding: 28px 30px;
}

.header {
  display: flex;
  height: 40px;
  justify-content: space-between;
  position: sticky;
  top: 28px;
}
/*.logo-text{
  left: 30px;
  position: absolute;
  top: 28px;
}
.logo-img{
  right: 30px;
  position: absolute;
  top: 28px; 
}*/
.header .logo-text img {
  height: 40px;
}
.header .logo-img img{
  height: 35px;
}

.main {
  height: calc(100vh - 190px);
}
.title{
  color: #faf7fb;
  font-size: 120pt;
  font-family: 'playfair_display';
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: fit-content;
}
.main-body {
  display: flex;
}
.left-body {
  flex: 1;
  padding: 0 55px;
}
.left-body-text {
  color: #faf7fb;
  font-size: 16.5pt;
  line-height: 24pt;
  font-family: 'suisse_intl';
  max-width: 440px;
  opacity: 0;
  position: relative;
}
.left-body-search {
  width: 50%;
}
.search-container {
  border-bottom: 1px solid #98889d;
  color: #ba3681;
  opacity: 0;
  padding: 0 6px;
  position: relative;
  width: 208px;
}
.search-container i {
  font-size: 15pt;
  position: relative;
  top: 2px;
}
.search-container input {
  background: none;
  border: 0;
  box-shadow: inherit;
  color: white;
  font-size: 12pt;
  font-family: 'suisse_intl';
  padding: 13px 0 13px 11px;
  width: 171px;
}
.search-container input:focus{
  outline: none;
}
.right-body {
  flex: 1;
}
.right-body .contents {
  list-style: none;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.contents .each{
  margin-bottom: 40px;
  transition: transform 2s cubic-bezier(0,0.01,0.1,1), color 0.4s;
  transform-origin: left;
}
.contents .each:last-child {
  margin-bottom: 0px;
}
.contents .each a {
  color: #faf7fb;
  cursor: initial;
  font-family: 'suisse_intl';
  text-decoration: none;
}
.contents .each p{
  font-size: 14.25pt;
  line-height: 25.25pt;
}
.contents .each h5{
  font-size: 32.25pt;
  line-height: 39.75pt;
}

.footer {
  display: flex;
}
.scroll-info {
  bottom: 94px;
  color: rgba(255,255,255,.6);
  font-size: 12px;
  font-weight: 500;
  left: 20px;
  position: fixed;
  transform: rotate(-90deg);
  z-index: 10;
  -webkit-transform: rotate(-90deg);
}
.scroll-info:after {
  background-color: rgba(255,255,255,.6);
  content: '';
  height: 2px;
  margin-right: 10px;
  position: absolute;
  right: 100%;
  top: 5px;
  width: 50px;
}
.socials {
  bottom: 16px;
  margin: 0;
  right: 35px;
  padding: 0;
  position: fixed;
  z-index: 1010;
}
ul.list-social {
  list-style: none;
  margin: 0;
}
ul.list-social>li {
  margin-bottom: 5px;
}
ul.list-social>li>a {
  color: rgba(255,255,255,.6);
  display: block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.blog-post .footer .scroll-info{
  color: #836287;
}
.blog-post .footer .scroll-info:after{
  background-color: #836287;
}
.blog-post ul.list-social>li>a{
  color: #836287;
}
.share-social {
  align-items: center;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}
.share-social li {
  font-size: 18px;
  margin-right: 10px;
}
.share-social li a {
  text-decoration: none;
}

.blog-made {
  color: #150e54;
  font-family: 'suisse_intl';
  font-size: 15pt;
  line-height: 30pt;
  position: relative;
  top: -100px;
  text-align: center;
}
.made-by {
  padding-left: 8px;
}
.made-by span {
  color: #ad2873;
}
.blog-date{
  color: #150e54;
  font-family: 'suisse_intl';
  font-size: 12pt;
  line-height: 22.5pt;
  padding: 0 18px;
}
.blog-title {
  color: #ba3681;
  font-family: 'suisse_intl';
  font-size: 63.75pt;
  line-height: 67.5pt;
  padding: 0 18px;
}
.normal1 {
  color: #150e54;
  font-family: 'suisse_intl';
  font-size: 17.25pt;
  line-height: 30pt;
  padding: 0 18px;
}
.normal2 {
  color: #150e54;
  font-family: 'suisse_intl';
  font-size: 15pt;
  line-height: 30pt;
  padding: 0 18px;
}
.normal3 {
  color: #150e54;
  font-family: 'suisse_intl';
  font-size: 13.5pt;
  line-height: 21pt;
  padding: 0 18px;
}
.subtitle1 {
  color: #ba3681;
  font-family: 'suisse_intl';
  font-size: 31.5pt;
  font-weight: 600;
  line-height: 31.5pt;
  padding: 0 18px;
}
.normal-ul {
  color: #140c53;
  font-family: 'suisse_intl';
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  margin: 0 95px;
  padding: 0 18px;
}
.normal-ul li {
  padding-left: 1em; 
  text-indent: -1.2em;
}
.normal-ul li:before {
  color: #ba3681;
  content: "• ";
  font-size: 28px;
  padding-right: 0.5em;
  position: relative;
  top: 3px;
}
.subtitle2 {
  color: #ba3681;
  font-family: 'suisse_intl';
  font-size: 51pt;
  font-weight: 600;
  line-height: 63.75pt;
  padding: 0 18px;
}
.share {
  display: flex;
  padding: 0 18px;
}
.share span{
  color: #ba3681;
  font-family: 'suisse_intl';
  font-size: 11.25pt;
  font-weight: 600;
  line-height: 30pt;
  padding-right: 18px;
}
.subtitle3 {
  color: #ba3681;
  font-family: 'suisse_intl';
  font-size: 21pt;
  font-weight: 600;
  line-height: 31.5pt;
  padding: 0 18px;
  text-align: center;
}
.send-input-container {
  border-bottom: 1px solid #ba3681;
  display: flex;
  margin: 0 auto;
  width: 335px;
}
.send-input-container input {
  border: none;
  font-size: 16px;
  line-height: 32px;
  outline: none;
  padding: 0 10px;
  width: 280px;
}
.send-input-container button {
  background: transparent;
  border: none;
  color: #ba3681;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  outline: none;
  text-transform: uppercase;
}
.next-post {
  align-items: center;
  color: #ba3681;
  display: flex;
  flex-direction: column;
  font-family: 'suisse_intl';
  font-size: 19.5pt;
  font-weight: 600;
  margin: 0 auto;
  max-width: 200px;
  line-height: 31.5pt;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
}
.next-post img {
  height: 20px;
  width: 26px;
}
.next-title {
  color: #140c53;
  display: block;
  font-family: 'suisse_intl';
  font-size: 49.65pt;
  line-height: 52.57pt;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 18px;
  text-align: center;
}
a.next-title{
  text-decoration: none;
}
.blog-main {
  width: 820px;
  margin: 0 auto;
}
.img-container {
  position: relative;
}
.img-container .progressbar {
  background: url('../img/progress.png');
  background-size: 820px 5px;
  background-repeat: no-repeat;
  height: 5px;
  position: absolute;
  top: 0;
  width: 100%;
}
.img-container img {
  width: 100%;
}
.margin35 {
  margin-bottom: 35px;
}
.margin45 {
  margin-bottom: 45px;
}
.margin50 {
  margin-bottom: 50px;
}
.margin55 {
  margin-bottom: 55px;
}
.margin60 {
  margin-bottom: 60px;
}
.margin65 {
  margin-bottom: 65px;
}
.margin70 {
  margin-bottom: 70px;
}
.margin80 {
  margin-bottom: 80px;
}
.margin95 {
  margin-bottom: 95px;
}
.margin100 {
  margin-bottom: 100px;
}
.margin110 {
  margin-bottom: 110px;
}
.margin160 {
  margin-bottom: 160px;
}
.our-thought {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: fixed;
  right: -25px;
  top: 115px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.our-thought span {
  color: #150e54;
  z-index: 10;
}
.our-thought img {
  left: -31px;
  position: relative;
  top: -20px;
  transform: rotate(90deg);
  width: 18px;
}

@media only screen and (max-width: 1120px) {
  .title {
    font-size: 100pt;
  }
  .left-body-text {
    font-size: 14pt;
    line-height: 21pt;
  }
  .contents .each p {
    font-size: 10pt;
    line-height: 17pt;
  }
  .contents .each h5 {
    font-size: 28pt;
    line-height: 34pt;
  }
}
@media only screen and (max-width: 1000px) {
  .title {
    font-size: 80pt;
  }
  .left-body-text {
    font-size: 12pt;
    line-height: 18pt;
  }
  .contents .each p {
    font-size: 8pt;
    line-height: 15pt;
  }
  .contents .each h5 {
    font-size: 25pt;
    line-height: 30pt;
  }

  .blog-container {
    padding: 10px;
  }
  .blog-made, .our-thought {
    display: none;
  }
  .blog-main {
    width: inherit;
  }
  .blog-post .footer {
    display: none;
  }
  .blog-date, .blog-title, .normal1, .normal2, .subtitle1, 
  .subtitle2, .share, .subtitle3, .normal3, .next-title {
    padding: 0 10px;
  }
  .normal-ul {
    margin-left: 0px;
    margin-right: 0px;
  }
  .normal-ul li {
    margin-bottom: 30px;
  }
  .blog-post .blog-background {
    background: url('../img/bg-blog-post.jpg') no-repeat;
    background-size: inherit;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 60pt;
  }
  .left-body-text {
    font-size: 7pt;
    line-height: 10.5pt;
  }
  .contents .each p {
    font-size: 7.12pt;
    line-height: 12pt;
  }
  .contents .each h5 {
    font-size: 12pt;
    line-height: 16pt;
  }
}
@media only screen and (max-width: 600px) {
  .main-body {
    flex-direction: column;
  }
  .socials {
    /*display: none;*/
  }
  .title {
    font-size: 34.29pt;
  }
  .left-body {
    padding: 0;
  }
  .left-body-text {
    font-size: 13.5pt;
    line-height: 19.5pt;
    top: 20%;
    width: 100%;
  }
  .left-body-search {
    top: 30%;
    width: 100%;
  }
  .search-container {
    border-color: #e4c6cd;
    width: 100%;
  }
  .search-container input {
    width: calc(100% - 37px);
  }
  .right-body .contents {
    padding: 0;
    top: 40%;
  }
  .contents .each p {
    font-size: 8.2pt;
    line-height: 14.52pt;
  }
  .contents .each h5 {
    font-size: 18.56pt;
    line-height: 22.88pt;
  }

  .blog-date.margin35 {
    font-size: 14px;
    line-height: 30p;
    margin-bottom: 15px;
  }
  .blog-title.margin45 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 25px;
  }
  .normal1.margin60 {
    font-size: 17px
    line-height: 30px;
    margin-bottom: 18px;
  }
  .img-container.margin50 {
    margin-bottom: 35px;
  }
  .normal2 {
    font-size: 15px;
    line-height: 30px;
  }
  .normal2.margin70 {
    margin-bottom: 125px;
  }
  .subtitle1.margin65 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .normal2.margin50 {
    margin-bottom: 35px;
  }
  .normal-ul {
    font-size: 15px;
    line-height: 25px;
  }
  .normal-ul.margin65 {
    margin-bottom: 45px;
  }
  .normal2.margin110 {
    margin-bottom: 60px;
  }
  .subtitle2.margin100 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 60px;
  }
  .normal2.margin80 {
    margin-bottom: 65px;
  }
  .share.margin110 {
    margin-bottom: 90px;
  }
  .subtitle3.margin35 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .normal3.margin70 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 35px;
    text-align: center;
  }
  .send-input-container {
    border-bottom: 0px none;
    flex-direction: column;
    margin: 0 22px 100px;
    width: auto;
  }
  .send-input-container input {
    border-bottom: 1px solid #ba3681;
    text-align: center;
    width: calc(100% - 20px);
  }
  .next-post.margin45 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .next-title.margin85 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 90px;
  }
}